---
layout: default
title: Blog
permalink: /blog/
---

<h3>{{ page.title }}</h3>

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>


<div class="posts">
<ul>
  {% for post in site.posts %}
  <li>
  <span>{{ post.date | date_to_string }}</span> &raquo;  
  <h3 class="post-title" style="display: inline"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
  </li>
  {% endfor %}
</ul>
</div>