---
layout: default
title: The Minecraft mod (ELN)
permalink: /index.html
---
      <p class="lead">
        <abbr title="attribute"><a href="index.html" title="Electrical Age - Minecraft mod (ELN)">ELN</a></abbr> is a Minecraft mod offering the ability to perform large-scale in-game electrical simulations.
      </p>

      <!-- Carousel -->
      <div id="carousel-screenshots" class="carousel slide" data-ride="carousel" style="margin-bottom: 10px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-screenshots" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-screenshots" data-slide-to="1"></li>
          <li data-target="#carousel-screenshots" data-slide-to="2"></li>
          <li data-target="#carousel-screenshots" data-slide-to="3"></li>
          <li data-target="#carousel-screenshots" data-slide-to="4"></li>
          <li data-target="#carousel-screenshots" data-slide-to="5"></li>
          <li data-target="#carousel-screenshots" data-slide-to="6"></li>
          <li data-target="#carousel-screenshots" data-slide-to="7"></li>
          <li data-target="#carousel-screenshots" data-slide-to="8"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">{% responsive_image path: assets/screenshots/ELN_PPICTSET1_0004F.JPG %}</div>
          <div class="item">{% responsive_image path: assets/screenshots/ELN_PPICTSET1_0001F.JPG %}</div>
          <div class="item">{% responsive_image path: assets/screenshots/ELN_PPICTSET1_0002F.JPG %}</div>
          <div class="item">{% responsive_image path: assets/screenshots/ELN_PPICTSET1_0003F.JPG %}</div>
          <div class="item">{% responsive_image path: assets/screenshots/ELN_PPICTSET1_0005F.JPG %}</div>
          <div class="item">{% responsive_image path: assets/screenshots/ELN_PPICTSET2_0001SMALL.JPG %}</div>
          <div class="item">{% responsive_image path: assets/screenshots/ELN_PPICTSET2_0002SMALL.JPG %}</div>
          <div class="item">{% responsive_image path: assets/screenshots/ELN_PPICTSET2_0003SMALL.JPG %}</div>
          <div class="item">{% responsive_image path: assets/screenshots/ELN_PPICTSET2_0004SMALL.JPG %}</div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-screenshots" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-screenshots" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>

      <!-- BETA warning -->
      {% include beta.html %}

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>A better simulation</h4>
          <p>Real electrical simulation model (with resistive, inductive and capacitive effects). Behaviour similar to those of real life objects.</p>

          <h4>Multiple electrical sources</h4>
          <p>Furnaces, Solar panels, Wind turbines, Batteries, Capacitors, ...</p>

          <h4>Incredible tools</h4>
          <p>XRay scanner, flashlight, portable mining drill, ...</p>

          <h4>Interoperability</h4>
          <p>Old redstones circuits can be exploited with electrical - redstones converters.</p>
        </div>

        <div class="col-lg-6">
          <h4>Break the cube</h4>
          <p>Cables, sensors, actuators, alarms, etc. can be placed on each face (outer and inner) of a cube, which allows a significant reduction of the consumed space by electrical installations.</p>

          <h4>Small and big electricals consumers</h4>
          <p>From the lamps, electrical furnaces,... to the miners, transporters, ...</p>

          <h4>Night-lighting revisited</h4>
          <p>Lamps, switches, captors, ...</p>

          <h4>Game lifetime/complexity extended</h4>
          <p>A consequent list of new raw materials and items...</p>
        </div>
      </div>

      <hr>

      <h3>News</h3>

      <div class="posts">
      <ul style="list-style-type:none; line-height:30px; padding:0;">    
        {% for post in site.posts %}
        <li>
        <span>{{ post.date | date_to_string }}</span> &raquo;  
        <h4 class="post-title" style="display: inline"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
        </li>
        {% endfor %}
      </ul>
      </div>